.boxContainer {
    padding-top: 100px;
    min-height: 740px;
}

.menu {
    padding-top: 100px;
}

.menu a {
    border: none;
    font-size: 20px;
    color: rgb(100, 100, 100);
    font-weight: 600;
    cursor: pointer;
}

.active {
    border-radius: 100px;
    background-color: rgb(230, 229, 229);
}

.menu span i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

.menu span {
    display: inline-block;
    width: 60px;
}

.main {
    width: 50%;
    margin: auto;
}

input {
    width: 290px;
    padding: 7px 15px;
    margin-bottom: 5px;
    border: none;
    border-radius: 100px;
    border: 1px solid rgb(223, 223, 223);
}

label {
    margin-left: 15px;
    font-size: 18px;
    color: rgb(100, 100, 100);
    width: 100%;
}

.formGroup {
    width: 290px;
    position: relative;
}

.buttonSubmit {
    width: 124px;
    display: block;
    font-size: 20px;
    border-radius: 100px;
    background-color: #fff;
    color: #000;
    padding: 5px 40px;
    font-weight: 600;
    margin: auto;
}

.buttonSubmit:hover {
    background-color: #000;
    color: #fff;
}

.showText {
    position: absolute;
    top: 41px;
    right: 13px;
}

@media screen and (max-width:768px) {
    .showText {
        top: 38px;
    }
    .main {
        width: 40%;
    }
    .boxContainer {
        padding-top: 100px;
        min-height: 600px;
    }
    h1 {
        font-size: 26px;
        text-align: center;
    }
    p,
    label {
        font-size: 16px;
    }
    .menu {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .main {
        width: 100%;
    }
    h1 {
        text-align: center
    }
}