<div class="container-fluid boxContainer">
    <div class="row">
        <div class="col-lg-3 px-5">
            <div class="list-group menu ml-4">
                <a class="list-group-item list-group-item-action" routerLink="/account"><span><i class="fa-regular fa-user"></i></span>User Profile</a>
                <a class="list-group-item list-group-item-action"><span><i class="fa-solid fa-user-pen active"></i></span>Profile Settings</a>
                <a class="list-group-item list-group-item-action" routerLink="/history"><span><i class="fa-solid fa-shirt"></i></span>Order History</a>
                <a (click)="signout()" class="list-group-item list-group-item-action"><span><i class="fa-solid fa-right-from-bracket "></i></span>Sign Out</a>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="main">
                <h1>Change Password</h1>
                <form class="mt-3 mb-3" (ngSubmit)="submit()" [formGroup]="formForEnter">
                    <div class="formGroup mt-5">
                        <label for="">Current password</label>
                        <input (keyup)="hideErr('currentPassword','showText1')" type="password" placeholder="Please enter your current password" id="currentPassword" formControlName="currentPassword">
                        <div class="showText d-none" id="showText1" (click)="showPass(1,'currentPassword','eye1')">
                            <i class="fa-solid fa-eye" id="eye1"></i>
                        </div>
                        <label class="font-italic text-danger mt-2 d-none" id="labelErr1">*The password you entered does not match the current password</label>
                        <div *ngIf="form.currentPassword.invalid && (form.currentPassword.dirty || form.currentPassword.touched)" required>
                            <div *ngIf="form.currentPassword.errors?.['required']">
                                <label class="text-danger font-italic  ml-3">*Please enter a password</label>
                            </div>
                        </div>
                    </div>
                    <div class="formGroup mt-4">
                        <label for="">New password</label>
                        <input (keyup)="hideErr('newPassword','showText2')" type="password" placeholder="Please enter a new password" id="newPassword" formControlName="newPassword">
                        <div class="showText d-none" id="showText2" (click)="showPass(2,'newPassword','eye2')">
                            <i class="fa-solid fa-eye" id="eye2"></i>
                        </div>
                        <label class="font-italic text-danger d-none" id="labelErr2">*Your new password is the same as your old password</label>
                        <div *ngIf="form.newPassword.invalid && (form.newPassword.dirty || form.newPassword.touched)" required>
                            <div *ngIf="form.newPassword.errors?.['required']">
                                <label class="text-danger font-italic ml-3">*Please enter a password</label>
                            </div>
                            <div *ngIf="!form.newPassword.errors?.['minLenght'] && !form.newPassword.errors?.['required']">
                                <label class="text-danger font-italic ml-3">*Please enter a valid password that has a minimum of eight characters.</label>
                            </div>
                        </div>
                    </div>
                    <div class="formGroup mt-4">
                        <label for="">Confirm new password</label>
                        <input (keyup)="hideErr('confirmPassword','showText3')" type="password" placeholder="Please confirm your new password" id="confirmPassword" formControlName="confirmPassword">
                        <div class="showText d-none" id="showText3" (click)="showPass(3,'confirmPassword','eye3')">
                            <i class="fa-solid fa-eye" id="eye3"></i>
                        </div>
                        <label class="font-italic text-danger d-none" id="labelErr3">*The confirm password you entered does not match the new password</label>
                    </div>
                    <div class="formGroup mt-5">
                        <button type="submit" class="btn btn-dark buttonSubmit mt-3" [disabled]="form.currentPassword.invalid || form.newPassword.invalid" btn-lg btn-block>Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>